main {
    padding: 20px;
}

section {
    margin: 2%
}
.experiencia {
    padding: 20px;
}
#experiencia h2 {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 5px;
}

.experiencia h3 {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 10px;
}

.experiencia h4 {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 500;
}

.experiencia p {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 500;
}

.experiencia ul {
    font-family: var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-weight: 500;
    
}

.experiencia li {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 18px;
}

@media (max-width: 1200px) {
    .experiencia h3 {
    margin: 4%;
    text-align: center;
    }
    
    .experiencia li {
        text-align: justify;
    }
}